@use '../../index.scss' as var;
@forward '../../utils/index';
section {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .profile {
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      border-radius: 50%;
      position: relative;
    }

    div {
      color: var.$clr-hover;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1rem;
      p {
        font-size: 1.2rem;
      }
      h1 {
        color: var.$clr-white;
        font-size: 2rem;
        font-weight: 500;
      }
      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var.$clr-hover;
        margin-top: 0.1rem;
        transition: var.$transition;
        &:hover {
          text-decoration: underline 1px solid var.$clr-hover;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  section .home div h1 {
    font-size: 1.5rem;
  }
  section .home div p {
    font-size: 1rem;
  }
  .home-info {
    margin-left: 0.1rem;
  }
}
