@use '../../../index.scss' as var;
.single-project {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  footer {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    font-size: 1.1rem;

    a {
      color: var.$clr-white;
      transition: var.$transition;
      &:hover {
        text-decoration: underline 1px solid var.$clr-hover;
      }
    }
  }
}
