@use '../../index.scss' as var;

header {
  nav {
    background-color: var.$clr-nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-family: var.$font-family;
    height: 10vh;

    h1 {
      color: var.$clr-white;
      font-size: 2rem;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 500;
    }

    .lists {
      display: flex;
      gap: 1rem;

      .list-item {
        text-transform: uppercase;
        color: var.$clr-white;
        letter-spacing: 0.5px;
        cursor: pointer;
        position: relative;
        padding: 5px 3px;
        border-radius: 0.1rem;
        &::before {
          content: '';
          position: absolute;
          bottom: -4px;
          height: 2px;
          margin-left: -3px;
          width: 0;
          background: var.$clr-white;
          transition: var.$transition;
        }
        &:hover::before {
          width: 100%;
        }
      }
      .active-list {
        background-color: var.$clr-white;
        color: var.$clr-nav;
      }
    }
  }

  .bar-icon {
    color: var.$clr-white;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
    display: none;
  }
}

@media screen and (max-width: 578px) {
  .bar-icon {
    display: block !important;
  }
  .lists {
    display: none !important;
  }

  .list-item {
    display: block;
  }
}
