@forward '../../utils/base/index';
@use '../../index.scss' as var;

.section-projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;

  article {
    box-shadow: var.$box-shadow;
    height: 10rem;
    display: flex;
    cursor: pointer;
    transition: var.$transition;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.1rem;
    &:hover {
      box-shadow: 0 7px 18px rgba(241, 233, 233, 0.153);
    }
    img {
      width: 100%;
      height: auto;
      overflow-y: hidden;
    }

    footer {
      display: flex;
      justify-content: space-between;
      gap: 0.3rem;
      padding: 0.3rem;
    }

    .details-link {
      text-transform: capitalize;
      font-size: 1rem;
      color: var.$clr-white;
      cursor: pointer;
      transition: var.$transition;
      &:hover {
        text-decoration: underline 1px solid var.$clr-hover;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .section-projects {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .section-projects article a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .section-projects {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (max-width: 400px) {
  article {
    overflow-y: auto;
    a {
      overflow: auto;
    }
  }

  .section-projects article a {
    font-size: 0.8rem;
  }
}
