@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Roboto&family=Rubik:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

// variables
$clr-nav: #09090b;
$clr-main: #121212;
$clr-white: #fff;
$clr-hover: rgba(241, 233, 233, 0.416);

$box-shadow: 0 5px 15px rgba(241, 233, 233, 0.153);
$letter-spaceing: 1.5px;
$transition: all 0.3s linear;
$font-family: 'Nanum Gothic Coding', monospace;
