@forward '../style.scss';
@use '../../../index.scss' as var;

.sidebar {
  background-color: var.$clr-nav;
  transition: all 0.3s linear;
  position: fixed;
  top: 3.7rem;
  border-top: 2px solid var.$clr-hover;
  left: 0;
  height: auto;
  width: 100%;
  transform: translate(100%);
  padding: 15px 0;
  z-index: 50;
}
.show-sidebar {
  transform: translate(0);
}

.sidebar-lists {
  display: flex;
  justify-content: center;
  gap: 1rem;

  .list-item {
    text-transform: uppercase;
    color: var.$clr-white;
    letter-spacing: 0.5px;
    cursor: pointer;
    position: relative;
    padding: 5px 3px;
    border-radius: 0.1rem;
    &::before {
      content: '';
      position: absolute;
      bottom: -4px;
      height: 2px;
      width: 0;
      background: var.$clr-white;
      transition: var.$transition;
    }
    &:hover::before {
      width: 100%;
    }
  }
  .active-list {
    background-color: var.$clr-white;
    color: var.$clr-nav;
  }
}

@media screen and (min-width: 578px) {
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .sidebar-lists {
    flex-direction: column;
  }
}
